.text-danger{
    display: none;
    text-align: center;
} 

#spinner{
    display: none;
    text-align: center;
    color: #3498db;
}

#search-result-count{
    display: none;
    text-align: center;
    font-size: larger;
    color: gray;
}